/* PRODUCT CARD */

.product {
    display: flex;
    flex-direction: column;
    border: 2px solid #a8a8a8;
    padding: 20px;
}

.product__title {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 26px;
}

.product__price {
    margin-bottom: 15px;
    font-size: 21px;
}